$main: #ff6200;
$main-dark: #be3600;
$main-text: #fff;
$text-default: #a9a9a9;
$text-default-dark: #454545;
$hero-background: #f9f9f9;
$black: #313131;
$divider-color: #525252;
$form-input-color: #f6f6f6;
$form-border-color: #e9e9e9;
$icon-default: #cbcbcb;

$main-font: 'Fjalla One';
$body-font: 'Open Sans';
