.contact-description {
  letter-spacing: 1px;
  line-height: 1.4;
  padding-right: 120px;
  margin-bottom: 3.4rem;

  h2 {
    font-size: 2rem;
    color: $main;
    margin: 0;
  }
  
  p {
    margin: .5rem 0 0 0;
  }
}
