.row {
  display: flex;

  &__wrapper {
    width: 1100px;
    justify-content: center;
  }

  &__wrap {
    flex: 1;
    flex-wrap: wrap;
  }

  &__fit {
    flex: 1;
    flex-wrap: nowrap;
  }

  &__space-between {
    justify-content: space-between;
  }

  &__column {
    flex-direction: column;
  }

  &__1 {
    width: 100%;
  }

  &__1of2 {
    width: 50%;
  }
}
